{% extends 'base.html.twig' %}

        {% block metatitle %}
        <title>Single-article</title>
        {% endblock metatitle %}

{% block main %}
<main>

    <section>
			<article>
				<p>{{ article.title }}</p>
				<p>{{ article.description }}</p>
				<img src="{{ article.image }}" alt="{{ article.title }}" />
				<p>{{ article.content }}</p>
				<p>Créé le {{ article.createdAt | date()}}</p>
			</article>
	</section>



</main>
{% endblock main %}
